<!doctype html> {% load staticfiles %}
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOPPINGKART</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Source+Sans+Pro" rel="stylesheet">{% load static %}
    <link rel="stylesheet" href="{% static 'main/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'product/app.css' %}">
</head>

<body>
    <!-- NOTE: This is the off-canvas menu that appears when you click on the hamburger menu on smaller screens. Everything in the `.off-canvas` div belongs in `src/layouts/default.html`. Copy this section into the `default.html` file and remove it from this file.  -->
    <div class="off-canvas ecommerce-header-off-canvas position-left" id="ecommerce-header" data-off-canvas>
        <!-- Close button -->
        <button class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
        <ul class="vertical menu">
            <li class="main-nav-link"><a href="categories.html">Category 1</a></li>
            <li class="main-nav-link"><a href="#">Category 2</a></li>
            <li class="main-nav-link"><a href="why.html">Category 3</a></li>
            <li class="main-nav-link"><a href="build.html">Category 4</a></li>
            <li class="main-nav-link"><a href="#">Category 5</a></li>
        </ul>
        <hr>
        <!-- Menu -->
        <ul class="menu vertical">
            <li><a href="#">Help</a></li>
            <li><a href="#">Order Status</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">My Account</a></li>
        </ul>
    </div>
    <!-- NOTE: This is the header menu that appears at the top of your site. -->
    <div class="off-canvas-content" data-off-canvas-content>
        <div class="ecommerce-header-top show-for-large">
            <div class="row align-justify">
                <div class="ecommerce-header-top-message">
                    Tagline Message Can Display Here
                </div>
                <div class="ecommerce-header-top-links">
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#" data-open="checkoutModal"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ecommerce-header show-for-large">
            <div class="row align-justify align-middle">
                <div class="shrink column">
                    <ul class="vertical medium-horizontal menu">
                        <li><a href="#"><img class="logo" src="https://placehold.it/160x50"></a></li>
                        <li class="main-nav-link"><a href="categories.html">Category 1</a></li>
                        <li class="main-nav-link"><a href="#">Category 2</a></li>
                        <li class="main-nav-link"><a href="why.html">Category 3</a></li>
                        <li class="main-nav-link"><a href="build.html">Category 4</a></li>
                        <li class="main-nav-link"><a href="#">Category 5</a></li>
                    </ul>
                </div>
                <!-- 
                <div class="shrink column">
                    <ul class="menu">
                        <li>
                            <input type="search" placeholder="Search">
                        </li>
                        <li>
                            <button type="button" class="button search-button"></button>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="ecommerce-header-mobile hide-for-large">
            <div class="ecommerce-header-mobile-left">
                <button class="menu-icon" type="button" data-toggle="ecommerce-header"></button>
                <form class="ecommerce-header-search-exandable">
                    <input type="search" placeholder="Search">
                </form>
            </div>
            <div class="ecommerce-header-mobile-center">
                <a href="#"><img class="logo" src="https://placehold.it/130x30"></a>
            </div>
            <div class="ecommerce-header-mobile-right">
                <p>
                    <button class="button" data-open="checkoutModal"><i class="fa fa-shopping-cart"></i></button>
                </p>
            </div>
        </div>
    </div>
    <div class="promo-hero promo-hero-bg-image">
        <div class="promo-hero-content">
            <h1 class="promo-hero-title">{{ hero }}</h1>
            <p class="promo-hero-description hide-for-small-only">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tortor ante, varius eget lacinia porta, faucibus ut eros. Donec quis dui id felis pharetra fermentum.</p>
            <div class="promo-hero-ctas">
                <a href="#" class="promo-section-cta button primary">Shop Now</a>
                <a href="#" class="promo-section-cta button white-hollow">Learn More</a>
            </div>
        </div>
    </div>
    <div class="grid-container fluid">
        <div class="grid-x grid-padding-x">
            <div class="medium-4 cell">
                <div class="product-filters">
                    <ul class="mobile-product-filters vertical menu show-for-small-only" data-accordion-menu>
                        <li>
                            <a href="#"><h2>Products</h2></a>
                            <ul class="vertical menu" data-accordion-menu>
                                <li class="product-filters-tab">
                                    <a href="#">Category</a>
                                    <ul class="categories-menu menu vertical nested is-active">
                                        <a href="#" class="clear-all" id="category-clear-all">Clear All</a>
                                        <li>
                                            <input class="category-clear-selection" id="category-checkbox1" type="checkbox">
                                            <label for="category-checkbox1">Category 1</label>
                                        </li>
                                        <li>
                                            <input class="category-clear-selection" id="category-checkbox2" type="checkbox">
                                            <label for="category-checkbox2">Category 2</label>
                                        </li>
                                        <li>
                                            <input class="category-clear-selection" id="category-checkbox3" type="checkbox">
                                            <label for="category-checkbox3">Category 3</label>
                                        </li>
                                        <li>
                                            <input class="category-clear-selection" id="category-checkbox4" type="checkbox">
                                            <label for="category-checkbox4">Category 4</label>
                                        </li>
                                        <li>
                                            <input class="category-clear-selection" id="category-checkbox5" type="checkbox">
                                            <label for="category-checkbox5">Category 5</label>
                                        </li>
                                        <li>
                                            <input class="category-clear-selection" id="category-checkbox6" type="checkbox">
                                            <label for="category-checkbox6">Category 6</label>
                                        </li>
                                        <li>
                                            <input class="category-clear-selection" id="category-checkbox7" type="checkbox">
                                            <label for="category-checkbox7">Category 7</label>
                                        </li>
                                        <li>
                                            <input class="category-clear-selection" id="category-checkbox8" type="checkbox">
                                            <label for="category-checkbox8">Category 8</label>
                                        </li>
                                        <li>
                                            <input class="category-clear-selection" id="category-checkbox9" type="checkbox">
                                            <label for="category-checkbox9">Category 9</label>
                                        </li>
                                        <li>
                                            <input class="category-clear-selection" id="category-checkbox10" type="checkbox">
                                            <label for="category-checkbox10">Category 10</label>
                                        </li>
                                        <li>
                                            <input class="category-clear-selection" id="category-checkbox11" type="checkbox">
                                            <label for="category-checkbox11">Category 11</label>
                                        </li>
                                        <li>
                                            <input class="category-clear-selection" id="category-checkbox12" type="checkbox">
                                            <label for="category-checkbox12">Category 12</label>
                                        </li>
                                        <li>
                                            <input class="category-clear-selection" id="category-checkbox13" type="checkbox">
                                            <label for="category-checkbox13">Category 13</label>
                                        </li>
                                        <li>
                                            <input class="category-clear-selection" id="category-checkbox14" type="checkbox">
                                            <label for="category-checkbox14">Category 14</label>
                                        </li>
                                        <li>
                                            <input class="category-clear-selection" id="category-checkbox15" type="checkbox">
                                            <label for="category-checkbox15">Category 15</label>
                                        </li>
                                    </ul>
                                </li>
                                <li class="product-filters-tab">
                                    <a href="#">Size</a>
                                    <ul class="categories-menu menu vertical nested is-active">
                                        <a href="#" class="clear-all" id="size-clear-all">Clear All</a>
                                        <li>
                                            <input id="size-checkbox1" type="checkbox">
                                            <label for="size-checkbox1">Small</label>
                                        </li>
                                        <li>
                                            <input id="size-checkbox2" type="checkbox">
                                            <label for="size-checkbox2">Medium</label>
                                        </li>
                                        <li>
                                            <input id="size-checkbox3" type="checkbox">
                                            <label for="size-checkbox3">Large</label>
                                        </li>
                                        <li>
                                            <input id="size-checkbox3" type="checkbox">
                                            <label for="size-checkbox3">X-Large</label>
                                        </li>
                                        <li>
                                            <input id="size-checkbox3" type="checkbox">
                                            <label for="size-checkbox3">XX-Large</label>
                                        </li>
                                    </ul>
                                </li>
                                <li class="product-filters-tab">
                                    <a href="#">Color</a>
                                    <ul class="categories-menu menu vertical nested">
                                        <a href="#" class="clear-all" id="color-clear-all">Clear All</a>
                                        <li>
                                            <input id="color-checkbox1" type="checkbox">
                                            <label for="color-checkbox1">All Color</label>
                                        </li>
                                        <li>
                                            <input id="color-checkbox2" type="checkbox">
                                            <label for="color-checkbox2">Black</label>
                                        </li>
                                        <li>
                                            <input id="color-checkbox3" type="checkbox">
                                            <label for="color-checkbox3">White</label>
                                        </li>
                                        <li>
                                            <input id="color-checkbox4" type="checkbox">
                                            <label for="color-checkbox4">Grey</label>
                                        </li>
                                        <li>
                                            <input id="color-checkbox5" type="checkbox">
                                            <label for="color-checkbox5">Red</label>
                                        </li>
                                        <li>
                                            <input id="color-checkbox6" type="checkbox">
                                            <label for="color-checkbox6">Blue</label>
                                        </li>
                                        <li>
                                            <input id="color-checkbox7" type="checkbox">
                                            <label for="color-checkbox7">Green</label>
                                        </li>
                                        <li>
                                            <input id="color-checkbox8" type="checkbox">
                                            <label for="color-checkbox8">Purple</label>
                                        </li>
                                        <li>
                                            <input id="color-checkbox8" type="checkbox">
                                            <label for="color-checkbox8">Multi-color</label>
                                        </li>
                                    </ul>
                                </li>
                                <li class="product-filters-tab">
                                    <a href="#">Price</a>
                                    <ul class="categories-menu menu vertical nested">
                                        <a href="#" class="clear-all" id="price-clear-all">Clear All</a>
                                        <li>
                                            <input id="price-checkbox1" type="checkbox">
                                            <label for="price-checkbox1">Under $25</label>
                                        </li>
                                        <li>
                                            <input id="price-checkbox2" type="checkbox">
                                            <label for="price-checkbox2">$25–$50</label>
                                        </li>
                                        <li>
                                            <input id="price-checkbox3" type="checkbox">
                                            <label for="price-checkbox3">$50–$250</label>
                                        </li>
                                        <li>
                                            <input id="price-checkbox4" type="checkbox">
                                            <label for="price-checkbox4">$250–$600</label>
                                        </li>
                                        <li>
                                            <input id="price-checkbox4" type="checkbox">
                                            <label for="price-checkbox4">$600–$1,000</label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h1 class="product-filters-header hide-for-small-only">Products</h1>
                    <ul class="vertical menu hide-for-small-only" data-accordion-menu>
                        <li class="product-filters-tab">
                            <a href="#">Category</a>
                            <ul class="categories-menu menu vertical nested is-active">
                                <a href="#" class="clear-all" id="category-clear-all">Clear All</a>
                                <li>
                                    <input id="category-checkbox1" type="checkbox">
                                    <label for="category-checkbox1">Category 1</label>
                                </li>
                                <li>
                                    <input id="category-checkbox2" type="checkbox">
                                    <label for="category-checkbox2">Category 2</label>
                                </li>
                                <li>
                                    <input id="category-checkbox3" type="checkbox">
                                    <label for="category-checkbox3">Category 3</label>
                                </li>
                                <li>
                                    <input id="category-checkbox4" type="checkbox">
                                    <label for="category-checkbox4">Category 4</label>
                                </li>
                                <li>
                                    <input id="category-checkbox5" type="checkbox">
                                    <label for="category-checkbox5">Category 5</label>
                                </li>
                                <li>
                                    <input id="category-checkbox6" type="checkbox">
                                    <label for="category-checkbox6">Category 6</label>
                                </li>
                                <li>
                                    <input id="category-checkbox7" type="checkbox">
                                    <label for="category-checkbox7">Category 7</label>
                                </li>
                                <li>
                                    <input id="category-checkbox8" type="checkbox">
                                    <label for="category-checkbox8">Category 8</label>
                                </li>
                                <li>
                                    <input id="category-checkbox9" type="checkbox">
                                    <label for="category-checkbox9">Category 9</label>
                                </li>
                                <li>
                                    <input id="category-checkbox10" type="checkbox">
                                    <label for="category-checkbox10">Category 10</label>
                                </li>
                                <li>
                                    <input id="category-checkbox11" type="checkbox">
                                    <label for="category-checkbox11">Category 11</label>
                                </li>
                                <li>
                                    <input id="category-checkbox12" type="checkbox">
                                    <label for="category-checkbox12">Category 12</label>
                                </li>
                                <li>
                                    <input id="category-checkbox13" type="checkbox">
                                    <label for="category-checkbox13">Category 13</label>
                                </li>
                                <li>
                                    <input id="category-checkbox14" type="checkbox">
                                    <label for="category-checkbox14">Category 14</label>
                                </li>
                                <li>
                                    <input id="category-checkbox15" type="checkbox">
                                    <label for="category-checkbox15">Category 15</label>
                                </li>
                            </ul>
                        </li>
                        <li class="product-filters-tab">
                            <a href="#">Size</a>
                            <ul class="categories-menu menu vertical nested is-active">
                                <a href="#" class="clear-all" id="size-clear-all">Clear All</a>
                                <li>
                                    <input id="size-checkbox1" type="checkbox">
                                    <label for="size-checkbox1">Small</label>
                                </li>
                                <li>
                                    <input id="size-checkbox2" type="checkbox">
                                    <label for="size-checkbox2">Medium</label>
                                </li>
                                <li>
                                    <input id="size-checkbox3" type="checkbox">
                                    <label for="size-checkbox3">Large</label>
                                </li>
                                <li>
                                    <input id="size-checkbox3" type="checkbox">
                                    <label for="size-checkbox3">X-Large</label>
                                </li>
                                <li>
                                    <input id="size-checkbox3" type="checkbox">
                                    <label for="size-checkbox3">XX-Large</label>
                                </li>
                            </ul>
                        </li>
                        <li class="product-filters-tab">
                            <a href="#">Color</a>
                            <ul class="categories-menu menu vertical nested">
                                <a href="#" class="clear-all" id="color-clear-all">Clear All</a>
                                <li>
                                    <input id="color-checkbox1" type="checkbox">
                                    <label for="color-checkbox1">All Color</label>
                                </li>
                                <li>
                                    <input id="color-checkbox2" type="checkbox">
                                    <label for="color-checkbox2">Black</label>
                                </li>
                                <li>
                                    <input id="color-checkbox3" type="checkbox">
                                    <label for="color-checkbox3">White</label>
                                </li>
                                <li>
                                    <input id="color-checkbox4" type="checkbox">
                                    <label for="color-checkbox4">Grey</label>
                                </li>
                                <li>
                                    <input id="color-checkbox5" type="checkbox">
                                    <label for="color-checkbox5">Red</label>
                                </li>
                                <li>
                                    <input id="color-checkbox6" type="checkbox">
                                    <label for="color-checkbox6">Blue</label>
                                </li>
                                <li>
                                    <input id="color-checkbox7" type="checkbox">
                                    <label for="color-checkbox7">Green</label>
                                </li>
                                <li>
                                    <input id="color-checkbox8" type="checkbox">
                                    <label for="color-checkbox8">Purple</label>
                                </li>
                                <li>
                                    <input id="color-checkbox8" type="checkbox">
                                    <label for="color-checkbox8">Multi-color</label>
                                </li>
                            </ul>
                        </li>
                        <li class="product-filters-tab">
                            <a href="#">Price</a>
                            <ul class="categories-menu menu vertical nested">
                                <a href="#" class="clear-all" id="price-clear-all">Clear All</a>
                                <li>
                                    <input id="price-checkbox1" type="checkbox">
                                    <label for="price-checkbox1">Under $25</label>
                                </li>
                                <li>
                                    <input id="price-checkbox2" type="checkbox">
                                    <label for="price-checkbox2">$25–$50</label>
                                </li>
                                <li>
                                    <input id="price-checkbox3" type="checkbox">
                                    <label for="price-checkbox3">$50–$250</label>
                                </li>
                                <li>
                                    <input id="price-checkbox4" type="checkbox">
                                    <label for="price-checkbox4">$250–$600</label>
                                </li>
                                <li>
                                    <input id="price-checkbox4" type="checkbox">
                                    <label for="price-checkbox4">$600–$1,000</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="medium-8 cell">
                <div class="grid-x grid-padding-x">
                    {% for prod in qs %}
                    <div class="medium-4 cell">
                        <div class="card card-product-hover">
                            <img src="{{ prod.image.url }}" alt="sweet foundation shirt" style="height: 270px; width: auto;" />
                            <!-- <div class="card-product-hover-icons">
                                <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                <a href="#"><i class="fa fa-thermometer-full"></i></a>
                                <a href="#"><i class="fa fa-share-alt"></i></a>
                            </div> -->
                            <div class="card-product-hover-details">
                                <p><span class="badge-pp">
                                    <a class="badge-pp-prod" href="{% url 'product_detail_view' pk=prod.pk %}">{{ prod.title }} </a> /
                                    <span><a href="" class="badge-pp-cate"> {{ prod.categ }}</a></span>
                                    </span>
                                </p>
                                <span class="card-product-hover-price">{{ prod.price }}</span>
                                <a href="#" class="snip1562">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
                    <ul class="orbit-container">
                        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                        <li class="is-active orbit-slide">
                            <img class="orbit-image" src="https://placehold.it/2000x750&text=1st" alt="Space">
                            <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
                        </li>
                        <li class="orbit-slide">
                            <img class="orbit-image" src="https://placehold.it/2000x750&text=2nd" alt="Space">
                            <figcaption class="orbit-caption">Lets Rocket!</figcaption>
                        </li>
                        <li class="orbit-slide">
                            <img class="orbit-image" src="https://placehold.it/2000x750&text=3nd" alt="Space">
                            <figcaption class="orbit-caption">Encapsulating</figcaption>
                        </li>
                        <li class="orbit-slide">
                            <img class="orbit-image" src="https://placehold.it/2000x750&text=4nd" alt="Space">
                            <figcaption class="orbit-caption">Outta This World</figcaption>
                        </li>
                    </ul>
                    <nav class="orbit-bullets">
                        <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
                    </nav>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="marketing-site-content-section">
                        <div class="marketing-site-content-section-img">
                            <img src="img/pexels-photo-264636.jpeg" alt="" />
                        </div>
                        <div class="marketing-site-content-section-block">
                            <h3 class="marketing-site-content-section-block-header">Yeti Snowcone Agency</h3>
                            <p class="marketing-site-content-section-block-subheader subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui minus!</p>
                            <a href="#" class="round button small">learn more</a>
                        </div>
                        <div class="marketing-site-content-section-block small-order-2 medium-order-1">
                            <h3 class="marketing-site-content-section-block-header">Yeti Snowcone Agency</h3>
                            <p class="marketing-site-content-section-block-subheader subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui minus!</p>
                            <a href="#" class="round button small">learn more</a>
                        </div>
                        <div class="marketing-site-content-section-img small-order-1 medium-order-2">
                            <img src="img/pexels-photo-64613.jpeg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- checkout-modal -->
    <div class="checkout-summary reveal" id="checkoutModal" data-reveal>
        <div class="checkout-summary-title">
            <h5>Your Order</h5>
            <h5>2 Items</h5>
        </div>
        <div class="checkout-summary-item">
            <img src="https://placeimg.com/100/80/any">
            <div class="item-name">
                <a>Comfy Knit Blazer</a>
                <p><span class="title">Color: </span>Blue</p>
                <p><span class="title">Size: </span>M</p>
            </div>
            <div class="item-price">
                <p class="title">$24.99</p>
                <a href="#">Remove</a>
            </div>
        </div>
        <div class="checkout-summary-item">
            <img src="https://placeimg.com/100/80/any">
            <div class="item-name">
                <a>Comfy Knit Blazer</a>
                <p><span class="title">Color: </span>Blue</p>
                <p><span class="title">Size: </span>M</p>
            </div>
            <div class="item-price">
                <p class="title">$24.99</p>
                <a href="#">Remove</a>
            </div>
        </div>
        <div class="checkout-summary-details">
            <div class="left">
                <p><strong>Subtotal:</strong></p>
                <p><strong>Tax:</strong></p>
                <p><strong>Total:</strong></p>
            </div>
            <div class="right">
                <p>$10.99</p>
                <p>$2.00</p>
                <p>$12.99</p>
            </div>
        </div>
        <button class="button expanded">Continue Shopping</button>
        <a href="checkout.html" class="button expanded">Proceed to checkout</a>
    </div>
    {% load static %}
    <script src="{% static 'vendor/jquery.js'  %}"></script>
    <script src="{% static 'vendor/what-input.js'  %}"></script>
    <script src="{% static 'vendor/foundation.js'  %}"></script>
    <script src="{% static 'app.js'  %}"></script>
    <script>
    //More (Expand) or Less (Collapse)
    $('.categories-menu.menu.nested').each(function() {
        var filterAmount = $(this).find('li').length;
        if (filterAmount > 5) {
            $('li', this).eq(4).nextAll().hide().addClass('toggleable');
            $(this).append('<li class="more">More</li>');
        }
    });

    $('.categories-menu.menu.nested').on('click', '.more', function() {
        if ($(this).hasClass('less')) {
            $(this).text('More').removeClass('less');
        } else {
            $(this).text('Less').addClass('less');
        }
        $(this).siblings('li.toggleable').slideToggle();
    });
    </script>
</body>

</html>