{% extends '../base/base.html' %}

{% load static %}

{% block content %}

<div class="promo-hero promo-hero-bg-image">
    <div class="promo-hero-content">
        <h1 class="promo-hero-title">{{ cate_page }}</h1>
        <p class="promo-hero-description hide-for-small-only">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tortor ante, varius eget lacinia porta, faucibus ut eros. Donec quis dui id felis pharetra fermentum.</p>
        <div class="promo-hero-ctas">
            <a href="#" class="promo-section-cta button primary">Shop Now</a>
            <a href="#" class="promo-section-cta button white-hollow">Learn More</a>
        </div>
    </div>
</div>
<div class="grid-container fluid">
    <div class="grid-x grid-padding-x">
        <div class="medium-12 cell">
            <div class="grid-x grid-padding-x">
                {% for cate in qs %}
                <div class="medium-4 cell">
                    <div class="card card-product-hover">
                        <img src="{% static 'img/wu-yi-136762-unsplash.jpg' %}" alt="sweet foundation shirt" style="height: 270px; width: auto;" />
                        <div class="card-product-hover-details">
                            <h3 class="card-category-hover-title">{{ cate.cate_name }}</h3>
                            <span class="card-product-hover-price"></span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

    
{% endblock content %}
    
