{% extends '../base/base.html' %}

{% load static %}

{% block content %}

<header class="hero-search-filter">
    <div class="hero-search-filter-content">
        <img class="hero-search-filter-logo" src="https://placehold.it/160x80" alt="" />
        <form class="hero-search-filter-form" action="">
            <label for="findtext">Find</label>
            <input id="findtext" class="hero-search-filter-form-find" type="text" />
            <div class="divider">&nbsp;</div>
            <label for="findlocate">Near</label>
            <input id="findlocate" class="hero-search-filter-form-near" type="text" />
            <button class="button">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <ul class="hero-search-filter-menu menu align-center">
            <li>
                <a href="#">
                    <i class="fa fa-cutlery" aria-hidden="true"></i> Restaurants</a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-glass" aria-hidden="true"></i> Nightlife</a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-wrench" aria-hidden="true"></i> Home Services</a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-cutlery" aria-hidden="true"></i> Delivery</a>
            </li>
        </ul>
    </div>
</header>
<div class="grid-container fluid">
    <div class="grid-x grid-padding-x">
        <div class="medium-12 cell">
            <div class="grid-x grid-padding-x">
                {% for cate in qs %}
                <div class="medium-4 cell">
                    <div class="card card-product-hover">
                        <img src="{% static 'img/wu-yi-136762-unsplash.jpg' %}" alt="sweet foundation shirt" style="height: 270px; width: auto;" />
                        <div class="card-product-hover-details">
                            <h3 class="card-category-hover-title">{{ cate.cate_name }}</h3>
                            <span class="card-product-hover-price"></span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

    
{% endblock content %}
    
